{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper" style="height: 1500px;">


    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="row">
            <div class="w-100 p-3 text-white rounded-top bg-dark">Message Report</div>


            <thead class="thead-dark">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Campaign Title</th>
                            <th scope="col">Template Name</th>
                            <th scope="col">Download</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for report in report_list %}
                        <tr>
                            <td>{{ report.message_date }}</td>
                            <td>{{ report.campaign_title }}</td>
                            <td>{{ report.template_name }}</td>
                            <td>
                                {% if report.template_name in template_names %}
                                <a href="{% url 'report_download' report.id %}" class="btn btn-primary">
                                    <i class='bx bxs-file-download'></i> Download
                                </a>
                                {% else %}
                                <span class="text-muted">Not available</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>
    <!-- / Content -->
</div>
<!-- / Layout wrapper -->
<script>
    $(document).ready(function(){
        $('#Reports').addClass('active');
    });
  </script>
{% endblock %}